body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.card-img,
.card-img-bottom,
.card-img-top {
  flex-shrink: 0;
  width: auto;
  height: 15vw;
  object-fit: contain;
}

.card {
  cursor: pointer;
  transition: opacity 0.3s;
}

.card:hover {
  opacity: 0.5;
}

.image-profile {
  border-radius: 50%;
  height: 100px;
  width: 100px;
  object-fit: contain;
}

.pokemon-detail {
  display: flex;
  justify-content: center;
}
